<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <div class="gold">
            Ninja Gold: <p>{{ session['gold'] }}</p>
        </div>   
        <div class="content">
            <div class="place">
                <h2>Farm</h2>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="post">
                    <input name="place" type="hidden" value="farm">
                    <button type="submit">Find Gold!</button>
                </form>
            </div>
            <div class="place">
                <h2>Cave</h2>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="post">
                    <input name="place" type="hidden" value="cave">
                    <button type="submit">Find Gold!</button>
                </form>
            </div>
            <div class="place">
                <h2>House</h2>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="post">
                    <input name="place" type="hidden" value="house">
                    <button type="submit">Find Gold!</button>
                </form>
            </div>
            <div class="place">
                <h2>Casino</h2>
                <p>(earns/takes 0-50 golds)</p>
                <form action="/process_money" method="post">
                    <input name="place" type="hidden" value="casino">
                    <button type="submit">Find Gold!</button>
                </form>
            </div>
            <p>Activities:</p>
            <div class="activity">
                {{ session['activity']|safe }}
            </div>
            <form action="/reset" method="pos">
                <button type="submit">Reset the Game</button>
            </form>
        </div>
    </div>
</body>
</html>